*,
*::after,
*::before {
  /* universal selector */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*every element on tge page will inherit this proprety*/ }

html {
  /*font-size: 10px;*/
  /* setting the root font size to 10 instead 16 makes calculations easier*/
  /*font-size: 100%; if the user doesn't change anything is 16px*/
  font-size: 70.5%;
  /*11.5px*/ }

body header {
  font-family: 'Comic Neue', cursive; }

body {
  font-family: 'Comic Neue', cursive;
  font-weight: 300;
  font-size: 1.5rem;
  /*16px*/
  line-height: 1.7;
  position: relative;
  color: #202020;
  box-sizing: border-box;
  /* margins and padding are not added to the width and hight of the box,
                             but included in the width and height */
  background-color: #f9d1b7;
  background-image: linear-gradient(315deg, #f9d1b7 0%, #f894a4 74%);
  background-attachment: fixed; }

.main-container {
  width: 100%;
  margin: 5rem auto; }

@media (max-width: 1200px) {
  html {
    font-size: 80.5%; } }

@media (max-width: 900px) {
  html {
    font-size: 70%; }
  .header .banner {
    height: 50vh; }
  .composition {
    display: none; } }

@media (max-width: 600px) {
  html {
    font-size: 40%; }
  .header {
    height: 50vh; }
  .composition {
    display: none; }
  .main-container {
    width: 100%;
    margin: 5rem auto; }
  .heading-tertiary {
    padding: 1rem 5rem; }
  .about__photo {
    height: 15rem; } }

.heading-primary {
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  backface-visibility: hidden; }
  .heading-primary--main {
    display: inline-block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    /* animation properties:
      animation-delay: 3s;
      animation-iteration-count: 3s;
      animation-timing-function: ease-in (start slower) or ease-out(start faster);
  */ }
  .heading-primary--sub {
    display: block;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    margin-bottom: 2rem;
    /*animation-name: moviInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;*/ }

.heading-tertiary {
  margin: 5rem 0rem 0rem 5rem;
  font-size: 2.5rem;
  font-weight: 500;
  padding: 1rem 0;
  border-radius: 20px;
  color: #333845; }

.second {
  margin-top: 5rem; }

.paragraph {
  font-size: 2rem;
  letter-spacing: .05rem;
  margin: 1rem 5rem;
  color: #333845; }

.btn:link, .btn:visited {
  padding: 1.5rem 2.5rem;
  background-color: white;
  letter-spacing: 0.3rem;
  border-radius: 3rem;
  text-decoration: none;
  font-weight: 900;
  color: #ffb4a2;
  font-size: 2rem; }

.btn:hover {
  background-color: whitet;
  color: #ffb4a2;
  font-weight: 900;
  padding: 1.5rem 2.5rem;
  font-size: 1.8rem; }

.header {
  height: 70vh;
  background-image: linear-gradient(to right bottom, rgba(249, 209, 183, 0.1), rgba(248, 148, 164, 0.1)), url(../img/cover100-min.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 0%;
    left: 1%; }
  .header__logo {
    height: 20rem;
    margin: 1rem;
    opacity: 0.6; }
  .header__text-box {
    padding: 5rem 10rem;
    text-align: center;
    /* all the elements (including btn wich is treated as text)
  inside the box are centerd*/
    font-family: 'Comic Neue', cursive;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9); }

.composition {
  position: relative; }
  .composition__photo {
    border-radius: 4px;
    position: absolute;
    left: 0rem;
    top: 0rem; }
    .composition__photo--p1 {
      left: 0rem;
      top: 4rem;
      height: 10rem;
      transform: scale(1.7); }

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center; }

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover; }

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0; }

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px; }

.card-product .card-product-infos {
  padding: 16px; }

.gallery {
  position: relative;
  height: 40px; }

.mySlides {
  display: none;
  text-align: center; }

.mySlides img {
  width: 40rem;
  box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 4px; }

.cursor {
  cursor: pointer; }

.prev,
.next {
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 40vh;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none; }

.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

.caption-container {
  text-align: center;
  background-color: #ffc1aa;
  padding: 0px 16px;
  color: #636a7f;
  font-weight: bold;
  width: 40rem;
  margin: 1rem auto;
  border-radius: 4px;
  font-size: 1.5rem;
  letter-spacing: .1rem; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.column {
  float: left;
  width: 16.6%; }

.small-pictures {
  opacity: 1;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem; }

.active,
.small-pictures:hover {
  opacity: .8; }

.about {
  position: relative; }
  .about__photo {
    border-radius: 50%;
    position: absolute;
    left: -5rem;
    top: 0rem;
    height: 15rem;
    box-shadow: 0 0.5rem 0.5rem rgba(128, 128, 128, 0.2); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
  .row .col-1-of-2 {
    width: calc( ( 100% - 4rem) / 2); }
  .row .col-1-of-3 {
    width: calc(( 100% - 2 * 4rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * (( 100% - 2 * 4rem) / 3) + 4rem); }
  .row .col-1-of-4 {
    width: calc(( 100% - 3 * 4rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * (( 100% - 3 * 4rem) / 4) + 4rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 4rem) / 4) + 2 * 4rem); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: url(../img/logo.jpg);
  background-size: cover;
  z-index: 1000;
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.42, 0, 0.58, 1); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 500;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-size: 220%;
  transition: all .1s;
  font-weight: 500;
  text-shadow: 2;
  letter-spacing: 0.3rem; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: white;
  text-shadow: 2;
  transform: translateX(1rem);
  font-size: 4rem;
  font-weight: 700; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(50);
  background-image: url(../img/ptak_ziel4.jpg);
  background-position: center; }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: transparent;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: white;
  width: 6rem;
  height: 4px; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.footer {
  background-color: #F9E3CB;
  background-image: linear-gradient(315deg, #F9E3CB 0%, #F9E3CB 74%);
  padding: 5rem 0;
  background-size: cover;
  position: relative; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 1rem; }
  .footer__logo {
    height: auto;
    width: 5rem; }
  .footer__links {
    color: #243262;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: .1rem; }
  .footer i:hover {
    font-size: 3rem;
    margin: .5rem; }
  .footer a {
    color: #243262;
    text-decoration: none; }
  .footer__copyright {
    text-align: center;
    color: #243262;
    letter-spacing: .1rem;
    font-weight: 400; }

.container-footer {
  width: 100%;
  margin: 0; }
