*,
*::after,
*::before {
  /* universal selector */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*every element on tge page will inherit this proprety*/ }

html {
  /*font-size: 10px;*/
  /* setting the root font size to 10 instead 16 makes calculations easier*/
  /*font-size: 100%; if the user doesn't change anything is 16px*/
  font-size: 62.5%;
  /*10px*/ }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  /*16px*/
  line-height: 1.7;
  position: relative;
  box-sizing: border-box;
  /* margins and padding are not added to the width and hight of the box,
                             but included in the width and height */
  background-color: #eaeeef; }

.heading-primary {
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  backface-visibility: hidden; }
  .heading-primary--main {
    display: inline-block;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    /* animation properties:
      animation-delay: 3s;
      animation-iteration-count: 3s;
      animation-timing-function: ease-in (start slower) or ease-out(start faster);
  */ }
  .heading-primary--sub {
    display: block;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    margin-bottom: 2rem;
    /*animation-name: moviInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;*/ }

.heading-tertiary {
  margin: 10rem 0rem 1rem 0rem; }

.second {
  margin-top: 5rem; }

.btn:link, .btn:visited {
  padding: 1.5rem 2.5rem;
  background-image: linear-gradient(to right bottom, #dba4af, #e88d9f);
  letter-spacing: 0.3rem;
  border-radius: 3rem;
  text-decoration: none;
  font-weight: 900;
  color: white;
  font-size: 2rem; }

.btn:hover {
  background-color: #dba4af;
  color: white;
  font-weight: 900;
  padding: 1.5rem 2.5rem;
  font-size: 1.8rem; }

.header {
  height: 70vh;
  background-image: linear-gradient(to right bottom, rgba(0, 128, 0, 0.7), rgba(27, 145, 214, 0.8)), url(../img/stado.jpg);
  background-size: cover;
  background-position: center;
  /*no matter viewportsize, top of the image stays on top of the cointainer*/
  position: relative;
  /* parent elemnent to the logo-box, reference point*/ }
  .header__logo-box {
    /*copies all the code in the header and adds logo-box = nesting*/
    position: absolute;
    /* in reference to header*/
    top: 0%;
    /* in reference to header*/
    left: 1%; }
  .header__logo {
    height: 20rem;
    margin: 1rem;
    opacity: 0.6; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    /*in relation to the parent element: header*/
    transform: translate(-50%, -50%);
    /*applies to the elemnt itslef*/
    text-align: center; }

.composition {
  position: relative; }
  .composition__photo {
    box-shadow: 0 1rem 10rem rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    position: absolute;
    opacity: 1; }
    .composition__photo--p1 {
      left: 10rem;
      top: 20rem;
      height: 13rem;
      transform: scale(2);
      box-shadow: 0 1rem 10rem rgba(0, 0, 0, 0.5); }
    .composition__photo--p2 {
      left: 22rem;
      top: 10rem;
      height: 13rem; }
    .composition__photo--p3 {
      left: 44rem;
      top: 10rem;
      height: 13rem; }
    .composition__photo:hover {
      transform: scale(2);
      box-shadow: 0 1rem 10rem rgba(0, 0, 0, 0.5);
      top: 20rem;
      left: 10rem;
      opacity: 1; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center; }

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover; }

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0; }

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px; }

.card-product .card-product-infos {
  padding: 16px; }

.gallery {
  position: relative;
  height: 40px; }

.mySlides {
  display: none;
  text-align: center; }

.mySlides img {
  width: 40rem;
  box-shadow: 0 1rem 10rem rgba(0, 0, 0, 0.4);
  border-radius: 4px; }

.cursor {
  cursor: pointer; }

.prev,
.next {
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 40vh;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none; }

.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

.numbertext {
  color: pink;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

.caption-container {
  text-align: center;
  background-color: #e88d9f;
  padding: 2px 16px;
  color: white;
  width: 40rem;
  margin: 0 auto;
  border-radius: 4px;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  letter-spacing: .1rem; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.column {
  float: left;
  width: 16.6%; }

.demo {
  opacity: 0.7;
  margin-top: 5rem;
  padding: 1rem; }

.active,
.demo:hover {
  opacity: 1; }

.about {
  position: relative; }
  .about__photo {
    box-shadow: 0 1rem 10rem rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    position: absolute;
    left: 0rem;
    top: 10rem;
    height: 15rem; }
  .about:hover {
    transform: scale(2);
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.5);
    top: -10rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
  .row .col-1-of-2 {
    width: calc( ( 100% - 4rem) / 2); }
  .row .col-1-of-3 {
    width: calc(( 100% - 2 * 4rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * (( 100% - 2 * 4rem) / 3) + 4rem); }
  .row .col-1-of-4 {
    width: calc(( 100% - 3 * 4rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * (( 100% - 3 * 4rem) / 4) + 4rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 4rem) / 4) + 2 * 4rem); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: linear-gradient(to right bottom, rgba(0, 128, 0, 0.6), rgba(27, 145, 214, 0.7)), url(../img/stado.jpg);
  background-size: cover;
  z-index: 1000;
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.42, 0, 0.58, 1); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-size: 220%;
  transition: all .1s;
  font-weight: 500;
  text-shadow: 2;
  letter-spacing: 0.3rem; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: white;
  text-shadow: 2;
  transform: translateX(1rem);
  font-size: 4rem;
  font-weight: 700; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: gray;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.footer {
  background-image: linear-gradient(to right bottom, #dba4af, #e88d9f);
  padding: 3rem 0;
  background-size: cover;
  width: 100%; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 1rem; }
  .footer__logo {
    height: auto;
    width: 5rem; }
  .footer__links {
    color: #243262;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: .1rem; }
  .footer i:hover {
    font-size: 3rem;
    margin: .5rem; }
  .footer a {
    color: #243262;
    text-decoration: none; }
  .footer__copyright {
    text-align: center;
    color: #243262;
    letter-spacing: .1rem; }
