@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// Media query manager

//0-600 phonr
//600 - 900 tablet
//900 - 1200 tablet landscape
// 1200 -1800 normal styles
// 1800 + - big screens

@mixin respond-phone {
  @media (max-width: 600px) { @content };
}
