.about {
  position: relative;


  &__photo {

     border-radius: 50%;
    position: absolute;
        left: -5rem;
      top: 0rem;
      height: 15rem;
      box-shadow: 0 .5rem .5rem rgba(gray, .2rem);




}

}

