
.composition {
position: relative;

  &__photo {

    border-radius: 4px;
    position: absolute;
        left: 0rem;
      top: 0rem;


    &--p1 {

      left: 0rem;
      top: 4rem;
      height: 10rem;
      transform: scale(1.7);

    }

}
}


