
.composition {
position: relative;

  &__photo {

    // box-shadow: 0 .1rem .1rem rgba(black, .4rem);
    border-radius: 4px;
    position: absolute;
        left: 0rem;
      top: 0rem;




    //outline-offset: .5rem;


    &--p1 {

      left: 0rem;
      top: 4rem;
      height: 10rem;
      transform: scale(1.7);
      // box-shadow: 0 1rem 10rem rgba(black, .5rem);

    }

}
}


