

 .gallery {
  position: relative;
  height: 40px;
}

.mySlides {
  display: none;
  text-align: center;

}
.mySlides img {
width: 40rem;
box-shadow: 0 1rem 10rem rgba(black, .4rem);
    border-radius: 4px;
}

.cursor {
  cursor: pointer;
}


.prev,
.next {
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 40vh;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {

}

// .numbertext {
//   color: pink;
//   font-size: 12px;
//   padding: 8px 12px;
//   position: absolute;
//   top: 0;
// }
.caption-container {
  text-align: center;
  background-color: rgba($pink-main, 1);
  padding: 2px 16px;
  color: white;
  width: 40rem;
  margin: 0 auto;
  border-radius: 4px;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  letter-spacing: .1rem;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 16.6%;
}

.small-pictures {
  opacity: 0.7;
  margin-top: 5rem;
  padding: 1rem;
}


.active,
.small-pictures:hover {
  opacity: 1;
}



