
.header {
  height: 70vh;

 background-image: linear-gradient(to right bottom,
rgba(#2b9348, .2),
rgba(#55a630, .2)),
url(../img/cover100.jpg);
  background-size: cover;
  background-position: center; /*no matter viewportsize, top of the image stays on top of the cointainer*/
  //clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
  position: relative; /* parent elemnent to the logo-box, reference point*/

  &__logo-box {  /*copies all the code in the header and adds logo-box = nesting*/
    position: absolute; /* in reference to header*/
    top: 0%; /* in reference to header*/
    left: 1%;
  }

  &__logo {
  height: 20rem;
  margin: 1rem;
  opacity: 0.6;



  }

  &__text-box {
  // position: absolute;
  // top: 25%;
  // left: 50%; /*in relation to the parent element: header*/
  //transform: translate(-50%, -50%); /*applies to the elemnt itslef*/
  padding: 7rem 5rem;
  text-align: center; /* all the elements (including btn wich is treated as text)
  inside the box are centerd*/
  font-family: 'Comic Neue', cursive;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
}
}
