*,
*::after,
*::before { /* universal selector */
  margin: 0;
  padding: 0;
  box-sizing: inherit; /*every element on tge page will inherit this proprety*/
}

html{
  /*font-size: 10px;*/ /* setting the root font size to 10 instead 16 makes calculations easier*/
  /*font-size: 100%; if the user doesn't change anything is 16px*/
  font-size: 70.5%; /*10px*/
}



body {
  font-family: 'Comic Neue', cursive;
  font-weight: 500;
  font-size: 1.5rem; /*16px*/
  line-height: 1.7;
  position: relative;

  color: rgb(32,32,32);
  box-sizing: border-box; /* margins and padding are not added to the width and hight of the box,
                             but included in the width and height */
background-color: #FF8F8F;

}
